!!!
%html
  %head
    %title Presentation
    %link{:href=>"//netdna.bootstrapcdn.com/bootswatch/3.1.1/cerulean/bootstrap.min.css", :rel=>"stylesheet"} 
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    = yield
    = javascript_include_tag "application", "data-turbolinks-track" => true

